{% extends 'first/base.html' %}
{% block headblock %}
<script>
    var curr_username = '{{ curr_user.username }}';
</script>
{% endblock %}

{% block navbar %}
<div class="">
	<div id="top_line" class="row">
		<div   style="
			margin-top: 1%; 
			width: 100%;
			text-align:center;
			height: 5%;
			font: italic bold 70px/50px Georgia, serif;color: #663399
			text-decoration: underline;" >
			Let's Chat
		</div>


		<!-- <div  class='col s3'>

			Signed in as:   &nbsp &nbsp 

			<a class='dropdown-button btn' href='#' data-activates='dropdown1'> Sanjay Ramesh </a>

			Dropdown Structure
			<ul id='dropdown1' class='dropdown-content'>
				<li><a href="#!">one</a></li>
				<li class="divider"></li>
				<li><a href="#!">two</a></li>

			</ul>

		</div> -->   <!--  <div style=" margin-left: 1120px;font: italic bold 20px Georgia, serif;  "  >Singned in as: </div> 	 -->
		<div class="dropdown"  class="col s2"> 
			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><u>{{ curr_user.username }}</u>
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="#">About</a></li>
					<li><a href="#">Log <OUTPUT></OUTPUT></a></li>
					
				</ul>
			</div>
	</div>
</div>

{% endblock %}


{% block content %}

<div class="container">
	<div style='margin-top:7%;'></div>
	<div class="row">

		<div id='chat-list' class='col s4'>
			<!-- <form> -->
				<div class="input-field   row"  >
					<input id="search-input" type="search" class="col s9"  required>
					<!-- <label class="label-icon " for="search"><i class="material-icons">search</i></label>
					<i class="material-icons">close</i> -->
               
                    <button class="btn waves-effect waves-light   col s3" onclick='newUserChat()'>Find</button>
				</div>
			<!-- </form> -->
			<!-- <div id='search-bar' class='row'>
				<input type='search'  class="input-field col s11"></input>
					<i class = "material-icons col s1 search-icon">search</i>
			</div> -->
			<div id='friends' class='collection'>
                {% for u in users %}
                <a href='#' class='collection-item' id='{{ u.username }}'
                          onclick='clickUser("{{ u.username }}")'>{{ u.username }}</a>
                {% endfor %}
			</div>
		</div>



		<div class="col s8">
		<div id='current-chat' style="width:100%">
			<div id='current-user' style="width:100%"> 
				<h4>My Friend:  <strong>Gaurav Sharma</strong></h4>
			</div>
			<div id='current-msgs' class='jumbotron' style=" width:100%;">
				<!-- <div class="card red  accent-1 from-msg"> -->
				<!--     <div class="card-content">From msg 1 2aksjdbakjsdbkajsdbkajsdbkajsdblajsdblaksdblaskdblasbd akjdbakjsdbalsjdba aksjdblajsdblajbsdl asjdbalsdjbalsbd -->
				<!--     </div> -->
				<!-- </div> -->
				<!-- <div class="card teal darken-1 to-msg"> -->
				<!-- <div class="card-content white-text">To msg 2aksjdbakjsdbkajsdbkajsdbkajsdblajsdblaksdblaskdblasbd akjdbakjsdbalsjdba aksjdblajsdblajbsdl asjdbalsdjbalsbd</div> -->
				<!-- </div> -->
				<!-- <div class="card red  accent-1 from-msg"> -->
				<!-- <div class="card-content">From msg 1 2aksjdbakjsdbkajsdbkajsdbkajsdblajsdblaksdblaskdblasbd akjdbakjsdbalsjdba aksjdblajsdblajbsdl asjdbalsdjbalsbd</div> -->
				<!-- </div> -->
				<!-- <div class="card red  accent-1 from-msg"> -->
				<!-- <div class="card-content">From msg 1 2aksjdbakjsdbkajsdbkajsdbkajsdblajsdblaksdblaskdblasbd akjdbakjsdbalsjdba aksjdblajsdblajbsdl asjdbalsdjbalsbd</div> -->
				<!-- </div> -->
                <!--  -->
				<!-- <div class="card red  accent-1 from-msg"> -->
				<!-- <div class="card-content">From msg 1 2aksjdbakjsdbkajsdbkajsdbkajsdblajsdblaksdblaskdblasbd akjdbakjsdbalsjdba aksjdblajsdblajbsdl asjdbalsdjbalsbd</div> -->
				<!-- </div> -->
                <!--  -->
				<!-- <div class="card teal darken-1 to-msg"> -->
				<!-- <div class="card-content white-text">To msg 2aksjdbakjsdbkajsdbkajsdbkajsdblajsdblaksdblaskdblasbd akjdbakjsdbalsjdba aksjdblajsdblajbsdl asjdbalsdjbalsbd</div> -->
				<!-- </div> -->
                <!--  -->
				<!-- <div class="card teal darken-1 to-msg"> -->
				<!--     <div class="card-content white-text">To msg 2aksjdbakjsdbkajsdbkajsdbkajsdblajsdblaksdblaskdblasbd akjdbakjsdbalsjdba aksjdblajsdblajbsdl asjdbalsdjbalsbd</div> -->
				<!-- </div> -->
                <!--  -->
				<!-- <div class="card teal darken-1 to-msg"> -->
				<!--     <div class="card-content white-text">To msg 2aksjdbakjsdbkajsdbkajsdbkajsdblajsdblaksdblaskdblasbd akjdbakjsdbalsjdba aksjdblajsdblajbsdl asjdbalsdjbalsbd</div> -->
				<!-- </div> -->
				<!-- <div class="card teal darken-1 to-msg"> -->
				<!--     <div class="card-content white-text">To msg 2aksjdbakjsdbkajsdbkajsdbkajsdblajsdblaksdblaskdblasbd akjdbakjsdbalsjdba aksjdblajsdblajbsdl asjdbalsdjbalsbd</div> -->
				<!-- </div> -->
				<!-- <div class="card teal darken-1 to-msg"> -->
				<!--     <div class="card-content white-text">To msg 2aksjdbakjsdbkajsdbkajsdbkajsdblajsdblaksdblaskdblasbd akjdbakjsdbalsjdba aksjdblajsdblajbsdl asjdbalsdjbalsbd</div> -->
				<!-- </div> -->

				<!-- <div class="card red  accent-1 from-msg">
					<div class="card-content">From msg 1 2aksjdbakjsdbkajsdbkajsdbkajsdblajsdblaksdblaskdblasbd akjdbakjsdbalsjdba aksjdblajsdblajbsdl
					</div>
				</div>
				<div class="card teal darken-1 to-msg">
				<div class="card-content white-text">From msg 1 2aksjdbakjsdbkajsdbkajsdbkajsdblajsdblaksdblaskdblasbd akjdbakjsdbalsjdba aksjdblajsdblajbsdl</div>
				</div>
				<div class="card red  accent-1 from-msg">
				<div class="card-content">jaFrom msg 1 2aksjdbakjsdbkajsdbkajsdbkajsdblajsdblaksdblaskdblasbd akjdbakjsdbalsjdba aksjdblajsdblajbsdlu </div>
				</div>
				<div class="card red  accent-1 from-msg">
				<div class="card-content">I lFrom msg 1 2aksjdbakjsdbkajsdbkajsdbkajsdblajsdblaksdblaskdblasbd akjdbakjsdbalsjdba aksjdblajsdblajbsdla....</div>
				</div>

				<div class="card red  accent-1 from-msg">
				<div class="card-content">From msg 1 2aksjdbakjsdbkajsdbkajsdbkajsdblajsdblaksdblaskdblasbd akjdbakjsdbalsjdba aksjdblajsdblajbsdl asjdbalsdjbalsbd</div>
				</div>

				<div class="card teal darken-1 to-msg">
				<div class="card-content white-text">To msg 2aksjdbakjsdbkajsdbkajsdbkajsdblajsdblaksdblaskdblasbd akjdbakjsdbalsjdba aksjdblajsdblajbsdl asjdbalsdjbalsbd</div>
				</div>

				<div class="card teal darken-1 to-msg">
					<div class="card-content white-text">To msg 2aksjdbakjsdbkajsdbkajsdbkajsdblajsdblaksdblaskdblasbd akjdbakjsdbalsjdba aksjdblajsdblajbsdl asjdbalsdjbalsbd</div>
				</div>

				<div class="card teal darken-1 to-msg">
					<div class="card-content white-text">To msg 2aksjdbakjsdbkajsdbkajsdbkajsdblajsdblaksdblaskdblasbd akjdbakjsdbalsjdba aksjdblajsdblajbsdl asjdbalsdjbalsbd</div>
				</div>
				<div class="card teal darken-1 to-msg">
					<div class="card-content white-text">To msg 2aksjdbakjsdbkajsdbkajsdbkajsdblajsdblaksdblaskdblasbd akjdbakjsdbalsjdba aksjdblajsdblajbsdl asjdbalsdjbalsbd</div>
				</div>
				<div class="card teal darken-1 to-msg">
					<div class="card-content white-text">To msg 2aksjdbakjsdbkajsdbkajsdbkajsdblajsdblaksdblaskdblasbd akjdbakjsdbalsjdba aksjdblajsdblajbsdl asjdbalsdjbalsbd</div>
				</div> -->
			</div>
		</div>
		<div id='input-box' style='display:fixed' class='row'>
            <!-- <form> -->
                <input type='text' class='input-field col s9' id='msg-input'  placeholder="Write what your heart says...." ></input>
                <div class='col s1'></div>
                <button class="btn waves-effect waves-light  col s2"
                    onclick='sendmsg()'>
                    Send
                    <i class = "material-icons right">send</i>
                </button>
            <!-- </form> -->
		</div>
		</div>
	</div>
</div>
{% endblock %}
