{% extends 'first/base.html' %}

    {% block navbar %}
    <div>
        {% if user.is_authenticated %}
        <p>Hello, {{ request.user.username }}<p>
        <p><a href="/user/logout">Logout</a></p>
        {% endif %}
    </div>
    {% endblock %}

    {% block content %}
    {% if not user.is_authenticated %}
    {{ empty_fields }}{{ wrong_input }}
    {% if wrong_input %}
        <p>* Wrong Credentials</p>
    {% endif %}
    {% if empty_fields %}
        <p>* Fill all the fields</p>
    {% endif %}
    <!-- <form method="POST" action="/user/login/"> -->
    <!--     {% csrf_token %} -->
    <!-- <p><label for="username" value="Username">Username</label> -->
    <!-- <input type="text" id='username' name="username" required/></p> -->
    <!-- <p><label for="password" value="Password">Password</label> -->
    <!--     <input id="password" name="password" type="password" required/></p> -->
    <!--     <input type='submit' value="Login"> -->
    <!-- </form> -->
    {% endif %}



<div style="
   
    width: 1901px;
            text-align:center;
            height: 40px;
    font: italic bold 60px/50px Georgia, serif;
    color: #663399;
    margin-top: 10px;        
">
   Lets' Chat
 
    </div>
    
  <div style="
    padding-top: 60px;
    width: 1901px;
            text-align:center;
            height: 40px;
    font: italic bold 30px/50px Georgia, serif;color: #663399        
">
   We help you connect and share with the people in your life...
 
    </div>
        
    
<div   id="frst_pg" style="height:800px; width:100%;">
    

    <div id="sign_up">
        hello
    </div>

    <div id="sign_in">
        hy
    </div>

    <div id="theme" style="background: url('/static/theme.png'); background-size: cover; height:90%; width:100%;">

   <!--  <img src="/static/theme.png" style="opacity:0.3;height: 70%; background-size: cover; " align="center" ">  -->
    </div>


</div>    
    
    <form method="POST" action="/user/login/">
        {% csrf_token %}
    <p class="hm_pg"><label for="username" value="Username">Username</label>
    <input type="text" id="username" name="username" required=""></p>
    <p class="hm_pg"><label for="password" value="Password">Password</label>
        <input id="password" name="password" type="password" required=""></p>
        <input type="submit" value="Login">
    </form>
    
    {% endblock %}
