{% extends 'first/base.html' %}

    {% block navbar %}
    <div>
        {% if user.is_authenticated %}
        <p>Hello, {{ request.user.username }}<p>
        <p><a href="/user/logout">Logout</a></p>
        {% endif %}
    </div>
    {% endblock %}

    {% block content %}
    {% if not user.is_authenticated %}
    {{ empty_fields }}{{ wrong_input }}
    {% if wrong_input %}
        <p>* Wrong Credentials</p>
    {% endif %}
    {% if empty_fields %}
        <p>* Fill all the fields</p>
    {% endif %}
    <!-- <form method="POST" action="/user/login/"> -->
    <!--     {% csrf_token %} -->
    <!-- <p><label for="username" value="Username">Username</label> -->
    <!-- <input type="text" id='username' name="username" required/></p> -->
    <!-- <p><label for="password" value="Password">Password</label> -->
    <!--     <input id="password" name="password" type="password" required/></p> -->
    <!--     <input type='submit' value="Login"> -->
    <!-- </form> -->
    {% endif %}



<div style="
   
    width: 100%;
            text-align:center;
            height: 40px;
    font: italic bold 70px/50px Georgia, serif;
    color: #663399;
    margin-top: 1%;        
">
   Let's Chat
 
    </div>
    
  <div style="
    padding-top: 3%;
    width: 100%;
            text-align:center;
            height: 40px;
    font: italic bold 30px/50px Georgia, serif;color: #663399        
">
   We help you connect and share with the people in your life...
 
    </div>
        
    
<div   id="frst_pg" style="height:880px; width:100%; background: rgba(204, 204, 204, 0.9);">
    


    <div id="theme" style="background: url('/static/theme.png'); background-size: cover; height:90%; width:100%;">
    

    <div id="sign_up" style=" margin-left: 1%;  margin-top: 3%; font: bold 40px/50px Georgia, serif;  text-shadow: 3px 3px #000000;color: white;  " >
        Create an account. <br>
        Its free and always will be!

        <hr  width="30%" align="left" >
    </div>

    <div id="sign_in">
        <a class="waves-effect waves-light btn-large"  style="margin-left:3%;" href="/user/signin"  >SIGN UP</a> <!--  <span style=" margin-top: 80px;  font: bold 60px Georgia, serif;  color:white;  " > &nbsp; / </span> -->

        <a class="waves-effect waves-light btn-large"  style="margin-left:3%;" href="/user/login"  >SIGN IN</a>

        
    </div>



   <!--  <img src="/static/theme.png" style="opacity:0.3;height: 70%; background-size: cover; " align="center" ">  -->
    </div>


</div>    
   <!--  
    <form method="POST" action="/user/login/">
        {% csrf_token %}
    <p class="hm_pg"><label for="username" value="Username">Username</label>
    <input type="text" id="username" name="username" required=""></p>
    <p class="hm_pg"><label for="password" value="Password">Password</label>
        <input id="password" name="password" type="password" required=""></p>
        <input type="submit" value="Login">
    </form> -->
    
    {% endblock %}
